:root{
/* light mode */
    --main_text_color: #333333;
    --sub_text_color: #581f2f;
    --main_font: 'Bebas Neue', cursive;
    --sub_font: 'Sofia Sans Extra Condensed', sans-serif;

    --border_color: #333333;
    
    --main_color: #fffeef;
    --alternate_color: blanchedalmond;

    --theme_boarder: black;
    --previewBg: rgb(251,249,243,0.8);
    --btncolour: black;


    --dmfont: 'Creepster', cursive;

}

/* HTML standard tags */
html, body{
    background-color: #fffeef;
    padding: 0;
    margin: 0;
    justify-content: center;
}

h1{font-size: 300px;}
h2{font-size: 200px;}
h3{font-size: 100px;}
h4{font-size: 80px;}
h5{font-size: 20px;}
h6{font-size: 16px;}
h1,h2,h3,h4,h5,h6, strong{
    color: var(--main_text_color);
    font-family: var(--main_font);
    font-weight: 500;
}

p,li,span,label,input,textarea{
    color: var(--sub_text_color);
    font-family: var(--sub_font);
}

a{
    text-decoration: none;
    color: var(--sub_text_color);
    font: var(--main_font);

}

ul{list-style: none;}
li{
  margin: 5px 0;
}


/* themes */
.theme_selector{
    display: flex;
    justify-content: right;
}
.header_home{
        display: flex;
        justify-content: right;
        margin-right: 50px;
    }

.themes_button{
    height: 20px;
    width: 20px;
    border: 1px solid var(--theme_boarder);
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.themes_button:hover{
    border-width: 3px;
}

#lightmode{
    background-color: #f6f5e5;
}
#darkmode{
    background-color: var(--main_text_color);
}

/* border */
.outer_border{
    border: 1px solid var(--border_color);
    border-radius: 10px;
}


/* main_block */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.style{
    border-bottom: 1px solid var(--border_color);
    overflow: auto;
}

.top-container{
    width: 95%;
    margin: 0% auto;
}
.body-container{
    width: 98%;
    margin: 0% auto;
}
.title{
    display: grid;
    align-content: center;
    justify-content: right;
    min-height: 10em;
}
.section_title{
    align-items: baseline;
}

.about-wrapper{
    display: flex;
    flex-direction: row;;
    gap: 100px;
}

.about_content{
    padding-top: 30px;
}
#skills{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 5px;
    margin-right: 5px;

}
#django{
    padding-left: 5px;
    height: 40px;
    object-fit: scale-down;
}
#python{
    padding-left: 5px;
    height: 40px;
    object-fit: scale-down;
}
#sql{
    padding-left: 8px;
    height: 35px;
    object-fit: scale-down;
}
#html{
    height: 50px;
    object-fit: scale-down;
}

#git{
    padding-left: 8px;
    height: 35px;
    object-fit: scale-down;
}

#docker{
    padding-left: 8px;
    height: 40px;
    object-fit: scale-down;
}



.examples_wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
    justify-content: space-between;
    margin: 10px;
}

.post_wrapper{
    display: flex;
    justify-content: space-between;

}

.post-text{
    padding: 15px;;
    /* create a grid area for the personal info section */
}

.project_title{
    grid-area: project_title;
    display: flex;
    flex-direction: row;
}
.project_button{
    padding-top: 30px;
}

#project_button{
    border: 1px solid var(--border_color);
    border-radius: 15px;
    padding: 10px;
    background-color: #333333;
    color: #fffeef;
}
.thumnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.hide{
    display: none;
    width: 100%;
}
  
.post_wrapper:hover + .hide {
    display: flex;
}

.post{
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 30px;
}

.contact{
    display: flex;
    justify-content: right;
}
.contact_wrapper{
    /* create a grid area for the personal info section */
    display: grid;
    /* two columns */
    grid-template-columns: 1fr 1fr;
    /* use named grid areas to create strucure */
    grid-template-areas:
    'form title';
    min-height: 10em;
    margin-right: 5px;
}
.contact_title{
    grid-area: title;
    text-align: right;
    padding-right: 10px;

}
.form_wrapper{
    justify-content: left;
}
#contact-form{
    display: block;
    grid-area: form;
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid var(--boarder_color);
    background-color: var(--main_color);
    margin-bottom: 50px;
    border-radius: 5px;

}
.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--alternate_color);
    border-radius: 5px;
    border: 1px solid var(--boarder_color);
    font-size: 35px;
}

#contact-form label{
    line-height: 2.7em;
    font-family: var(--main_font);
    font-size: 35px;
}

#contact-form textarea{
    min-height: 300px;
    font-size: 35px;
}
#submit-button{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--main_color);
    background-color: var(--border_color);
    border-radius: 15px;
    border: 1px solid var(--border_color);
    font-size: 35px;
}

.copywrite_{
    display: flex;
    width: 95%; 
    margin: 0 auto; 
    padding-top: 5px;
    justify-content: right;
}


/* screen manip */
@media screen and ( max-width: 1200px){
    .main-container{
        max-width: 95%;
    } 
}
/* move a particular box down upon small screen redsolutions */
@media screen and ( max-width: 1500px){
    .contact_wrapper{
    /* one columns */
    grid-template-columns: 1fr;
    /* use named grid areas to create strucure */
    grid-template-areas:
    'title'
    'form';
}
    .right-side{
        justify-content: center;
    }
} 
  
@media screen and (max-width: 1000px) {
    h1{font-size: 150px;}
    h2{font-size: 100px;}
    h3{font-size: 80px;}
    h4{font-size: 60px;}
    h5{font-size: 40px;}
    h6{font-size: 20px;}

}


@media screen and (max-width: 1000px) {
    .hide{
        display: flex;
    }
}

@media screen and (max-width: 1000px) {
    .post_wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;

    }
}


  