{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Creepster&family=Sofia+Sans+Extra+Condensed:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
  <link href = "{% static 'css/main.css'%}" rel = "stylesheet" text = "text/css">
  <title>A Meaningful Page Title</title>
  <meta name="author" content="John Doe">

</head>
<body>

<div class = theme_selector> 
  <div class = 'themes'>
    <div id = 'lightmode' class = 'themes_button'> </div>
    <div id = 'darkmode' class = 'themes_button'> </div>
  </div>
</div>
<div style="width: 95%; margin: 0 auto;" class = 'outer_border'>

  <section class = style>
    <div class = 'top-container'>
      <div class = 'title'> 
        <h1>Adm.Bjmn</h1>
      </div>
      <div class = 'line1'> 
        <h3>Process driven, creative software engineer with </h3>
        <h3 style = ' padding-left: 20px;'>a focus on intutive and pragmatic managment tools that are useful, </h3>
        <h3 style = ' padding-left: 50px;'>not faffy.</h3>
      </div>
      <div style = 'height: 5em;'></div>
    </div>
  </section>

  <section class = style>
    <div class = 'body-container'>
      <div class = 'about-wrapper'>
        <div class ='about_me'>
          <h2> About </h2>
          <p> this is a paragraph</p>
          <p> this is another paragraph</p>
          <hr>
          <h2> Top Expertise</h2>
          <p> Djagno web developer with 10 years oas management experience
         <a target = "_blank" href="{% static '/images/resume.pdf' %}">DOwnload Resume</a></p>
          <div id = 'skills'>
            <ul>
              <li> one</li>
              <li> one</li>
              <li> one</li>
              <li> one</li>
            </ul>
            <ul>
              <li> one</li>
              <li> one</li>
              <li> one</li>
              <li> one</li>
            </ul>
          </div>
        </div>
      <div class = 'social-links'>
        <img id = 'social_pic' src= "{% static 'images/image.JPEG' %}">
      </div>

    </div>
  </section>

  <section class = style>
    <div class = 'body-container'>
      <div><h1>Examples of work</h1></div>
      <div class = 'examples_wrapper'>

        <div>
          <div class = 'post' id = 'post1'>
            <img class = 'thumnail' src= "{% static 'images/image.JPEG' %}">
            <div class = 'post-text'>
              <h3>Management tools</h3>
              <p> post intro </p>
              <a href ='#'>View project</a>
            </div>
          </div>
        </div>

        <div>
          <div class = 'post' id = 'post2'>
            <img class = 'thumnail' src= "{% static 'images/image.JPEG' %}">
            <div class = 'post-text'>
              <h3>Web Applications</h3>
              <p> post intro </p>
              <a href ='#'>View project</a>
            </div>
          </div>
        </div>

        <div>
          <div class = 'post' id = 'post3'>
            <img class = 'thumnail' src= "{% static 'images/image.JPEG' %}">
            <div class = 'post-text'>
              <h3>Python 
                proficiency</h3>
              <p> post intro </p>
              <a href ='#'>View project</a>
            </div>
          </div>
        </div>

        <div>
          <div class = 'post' id = 'post4'>
            <img class = 'thumnail' src= "{% static 'images/image.JPEG' %}">
            <div class = 'post-text'>
              <h3>Data Science</h3>
              <p> post intro </p>
              <a href ='#'>View project</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>



  <section>
    <div class = 'body-container'>
      <div class = 'contact'> 
        <h1>Contact</h1>
      </div>
    </div>
  </section>



</div>
<div class = 'copywrite_'>
  <p> Copywrite Adam Benjamin Bastow</p>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>


